body {
  margin: 0;
  background: linear-gradient(-45deg, rgb(197, 61, 129), rgb(19, 72, 141));
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 60px;
  height: 300px;
  perspective: 500px;
}

ul {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: rotateY(25deg) rotateX(-25deg);
}

li {
  width: 60px;
  height: 60px;
  position: relative;
}

.side {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.front {
  width: 60px;
  height: 60px;
  transform: translateZ(15px);
}

.back {
  width: 60px;
  height: 60px;
  transform: rotateY(180deg) translateZ(15px);
}

.right {
  width: 30px;
  height: 60px;
  transform: rotateY(90deg) translateZ(45px);
}

.left {
  width: 30px;
  height: 60px;
  transform: rotateY(-90deg) translateZ(15px);
}

.top {
  width: 60px;
  height: 30px;
  transform: rotateX(90deg) translateZ(15px);
}

.bottom {
  width: 60px;
  height: 30px;
  transform: rotateX(-90deg) translateZ(45px);
}