body {
  margin: 0;
  background: linear-gradient(-45deg, rgb(197, 61, 129), rgb(19, 72, 141));
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  perspective: 500px;
}

ul {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 60px;
  height: 60px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  background: rgb(0, 0, 0);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  width: 60px;
  height: 60px;
  transform: translateZ(15px);
}

.back {
  width: 60px;
  height: 60px;
  transform: rotateY(180deg) translateZ(15px);
}

.right {
  width: 30px;
  height: 60px;
  transform: rotateY(90deg) translateZ(45px);
}

.left {
  width: 30px;
  height: 60px;
  transform: rotateY(-90deg) translateZ(15px);
}

.top {
  width: 60px;
  height: 30px;
  transform: rotateX(90deg) translateZ(15px);
}

.bottom {
  width: 60px;
  height: 30px;
  transform: rotateX(-90deg) translateZ(45px);
}

.front i {
  transform: translateZ(16px);
  z-index: 99;
}

li:active {
  transform: translateZ(-15px);
}

li:hover .side {
  background: rgb(22, 55, 97);
}

li:hover .front {
  background: rgb(29, 72, 129);
}

li.active {
  transform: translateZ(10px);
}

li.active .side {
  background: rgb(99, 91, 23);
}

li.active .front {
  background: rgb(150, 138, 36);
}